* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Rubik', sans-serif;
}

.container {
	background-color: black;
	max-width: 100%;
	/* padding: 1rem 2rem; */
	padding: 0 0 0 2rem;
}
.logo {
	font-size: 2.3rem;
	font-weight: 1000;
	color: #fff;
}
.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
li {
	list-style: none;
	margin: 1rem;
}

a {
	text-decoration: none;
	padding: 2rem;
	color: #fff;
}
a:hover {
	color: rgb(64, 255, 64);
}

/* head */
.header {
	border-bottom: 5px solid white;
}
.text {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.image {
	background-color: black;
	width: 100%;
	height: 99.9%;
	padding-top: 2rem;
	padding-bottom: 12.9rem;
}
.des {
	width: 100%;
	height: 99.9%;
	padding: 0 0 0 5rem;
	background-color: rgb(0, 0, 0);
	color: #fff;
}
.heading {
	font-size: 3.8rem;
	line-height: 1;
	font-weight: 500;
	letter-spacing: -0.5px;
	color: #fff;
	margin-top: 9.2rem;
	margin-bottom: 4.2rem;
}
.describe {
	font-size: 1.4rem;
	margin-bottom: 3.2rem;
}
.shop {
	border: 1px solid white;
	padding: 1rem 2rem;
	margin-right: 25px;
}
.shop:hover {
	background-color: darkolivegreen;
	color: #fff;
}
.about {
	border: 1px solid white;
	padding: 1rem 2rem;
}
.about:hover {
	color: #fff;
	background-color: darkolivegreen;
}
/* about us */
.con {
	padding: 0 5rem 0 5rem;
	width: 100%;
	background-color: black;
}
.review {
	padding: 1rem 0;
	color: #fff;
}
.pp {
	margin-bottom: 2rem;
}
h3 {
	text-align: center;
}
.aboutus {
	padding: 1rem;
	border: none;
	font-size: 3rem;
}
/* review */
.reviewhead {
	padding: 0 5rem 0 5rem;
	margin-top: 0px;
	background-color: black;
}
.review-desc {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 5rem;
	border: none;
}
.review1 img {
	padding-left: 2rem;
	width: 80%;
}
.review1 {
	color: #fff;
	letter-spacing: 1px;
	transition: all 0.3s;
}
.review1:hover {
	transform: translateY(-2rem);
}
.review1 p {
	margin-bottom: 5rem;
}

/* footer */
footer {
	padding: 0 5rem 0 5rem;
	background-color: black;
	margin-top: 5px;
}
.ff {
	display: flex;
	justify-content: space-between;
	color: #fff;
}
.copy {
	color: #fff;
	font-size: 1.8rem;
}
.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}
.follow {
	font-size: 1.8rem;
}
